.main {
    background: #f1f3f6;
    width: 93vw;
    position: relative;
    top: 11.5vh;
    left: 7vw;
    height: fit-content;
    padding-bottom: 6vh;
    z-index: 1;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}